@model List<MHR_EF_Code.Models.Entities.products>
<h2>product</h2>
<table class="table">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>dic</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.id</td>
            <td>@item.Name</td>
            <td>@item.Description</td>
        </tr>
    }
</table>