@model MHR_EF_Code.ViewModels.EmployeeVM

<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="EmployeeId" />

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="EmployeeCode"></label>
                <input asp-for="EmployeeCode" class="form-control" />
                <span asp-validation-for="EmployeeCode" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="FullName"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="HireDate"></label>
                <input asp-for="HireDate" class="form-control" />
                <span asp-validation-for="HireDate" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Identity"></label>
                <input asp-for="Identity" class="form-control" />
                <span asp-validation-for="Identity" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Education"></label>
                <input asp-for="Education" class="form-control" />
                <span asp-validation-for="Education" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="username"></label>
                <input asp-for="username" class="form-control" />
                <span asp-validation-for="username" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="DepartmentID">Department</label>
                <select asp-for="DepartmentID" class="form-control" asp-items="ViewBag.Departments"></select>
                <span asp-validation-for="DepartmentID" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="CurrentPassword">Current Password</label>
                <input asp-for="CurrentPassword" class="form-control" type="password" />
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Password">New Password</label>
                <input asp-for="Password" class="form-control" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="ConfirmPassword">Confirm New Password</label>
                <input asp-for="ConfirmPassword" class="form-control" type="password" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
    </div>
  
    <button type="submit" class="btn btn-primary mt-3">Save</button>
    <a class="btn btn-secondary mt-3" asp-action="index">Get Back</a>

</form>
